.container {
    margin: auto;
    max-width: 1000px;
    min-width: 0;
    width: 100%;
    font-family: sans-serif;
}
.heading {
  font-size: 1.5rem;
  color: #4f4f4f;
  text-align: center;
}
.navLinks {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 1rem 0 2rem 0;
}
.navLinkItem {
  padding-right: 2rem;
}
.navLinkText {
  color: gray;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}
.navLinkActive {
  color: #2d7a67;
}
.siteTitle {
  font-size: 2rem;
  color: #4f4f4f;
  font-weight: 500;
  margin: 3rem 0 1rem 0;
}
.link {
  text-decoration: none;
  color: #2d7a67;
}